.button-slider {
  border: none;
  background-color: inherit;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: $color-primary;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(0, -50%);

  @include vp-767 {
    width: 30px;
    height: 30px;
  }

  &--prev {
    left: -18px;

    @include vp-1199 {
      left: -3%;
    }

    @include vp-767 {
      left: -3%;
    }
  }

  &--next {
    right: -18px;

    @include vp-1199 {
      right: -3%;
    }

    @include vp-767 {
      right: -3%;
    }
  }

  @include hover-focus {
    border: 1px solid $color-primary;
  }

  &:active {
    background-color: $color-primary;
    color: $color-default-white;
  }

  &:disabled {
    opacity: 0.3;
  }
}
