.button-slider {
  border: none;
  background-color: inherit;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: $color-primary;
  cursor: pointer;

  @include vp-767 {
    width: 30px;
    height: 30px;
  }

  &--prev {
    position: absolute;
    z-index: 2;
    left: -18px;
    top: 50%;
    transform: translate(0, -50%);

    @include vp-1199 {
      left: 0;
    }
  }

  &--next {
    position: absolute;
    z-index: 2;
    right: -18px;
    top: 50%;
    transform: translate(0, -50%);

    @include vp-1199 {
      right: 0;
    }
  }

  @include hover-focus {
    border: 2px solid $color-primary;
  }

  &:active {
    background-color: $color-primary;
    color: $color-default-white;
  }

  &:disabled {
    opacity: 0.3;
  }
}
