.button {
  padding: 24px;
  display: inline-block;
  cursor: pointer;
  background-color: inherit;

  &--primary {
    border: 2px solid $color-default-white;

    &:hover {
      background-color: $color-default-white;
      color: $color-secondary;
    }

    &:active {
      color: #102654;
    }

    &:disabled {
      opacity: 0.6;
    }
  }

  &--secondary {
    border: 2px solid $color-primary;
  }

  &--current {
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    color: $color-default-white;
  }
}
