.coaches {
  padding-top: 120px;
  padding-bottom: 105px;
  font-family: $ff-primary;
}

.coaches__title {
  color: #102654;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  margin: 0;
  margin-bottom: 48px;
}
