.footer {
  background-color: #030a1a;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 103px 40px;

  @include vp-1199 {
    padding: 45px;
  }

  @include vp-767 {
    padding: 30px 15px 52px;

    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__logo {
  cursor: pointer;

  img {
    @include vp-1199 {
      width: 82px;
      height: 18px;
    }

    @include vp-767 {
      width: 68px;
      height: 15px;
    }
  }

  @include vp-767 {
    position: relative;
    top: 25px;
  }

  @include hover-focus {
    opacity: 0.6;
  }

  @include active {
    opacity: 0.8;
  }
}

.footer__nav {
  margin-left: 10px;

  @include vp-767 {
    margin-left: 0;
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 750px;
  column-gap: 20px;
  row-gap: 15px;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    column-gap: 10px;
    max-width: 450px;
  }

  @include vp-767 {
    display: block;
    column-count: 2;
    gap: 45px;
    margin-bottom: 17px;
  }
}

.footer__item {
  @include reset-list;

  @include vp-767 {
    margin-bottom: 16px;
  }
}

.footer__item:first-child {
  @include vp-767 {
    margin-top: 39px;
    margin-bottom: 16px;
  }
}

.footer__link {
  font-size: 14px;
  padding: 5px 10px;
  font-family: $ff-secondary;
  color: $color-default-white;
  position: relative;

  @include vp-767 {
    font-size: 16px;
  }

  &:hover {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 10px;
      right: 10px;
      height: 1px;
      background-color: $color-default-white;
    }
  }

  &:focus {
    outline: 1px solid $color-default-white;
  }

  &:active {
    text-decoration: none;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.5);
  }
}
