.coaches__container {
  padding-top: 112px;
  padding-bottom: 105px;

  @include vp-1279 {
    padding-top: 105px;
    padding-bottom: 101px;
  }

  @include vp-767 {
    padding-top: 67px;
    padding-bottom: 70px;
  }
}

.coaches__title {
  margin: 0 0 53px 2px;

  @include vp-1279 {
    margin-bottom: 35px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 45px;
  }
}

.coaches__slider {
  position: relative;
  display: flex;
  padding: 0 60px;

  @include vp-1279 {
    padding: 0 56px;
  }

  @include vp-767 {
    padding: 0 32px;
  }
}

.swiper-coaches__wrapper {
  display: flex;

  @include reset-list;
}

.coaches__button {
  border: none;
  background-color: inherit;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: $color-primary;
  cursor: pointer;

  @include vp-767 {
    width: 30px;
    height: 30px;
  }

  &--prev {
    position: absolute;
    z-index: 2;
    left: -18px;
    top: 50%;
    transform: translate(0, -50%);

    @include vp-1279 {
      left: -3%;
    }
  }

  &--next {
    position: absolute;
    z-index: 2;
    right: -18px;
    top: 50%;
    transform: translate(0, -50%);

    @include vp-1279 {
      right: -3%;
    }
  }

  @include hover-focus {
    border: 2px solid $color-primary;
  }

  &:active {
    background-color: $color-primary;
    color: $color-default-white;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.coaches__icon {
  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}

.coaches__slide {
  position: relative;
}


.coach-card:hover {
  .coach-card__image-mask {
    opacity: 0.89;
    width: 100%;
  }

  .coach-card__text-wrapper {
    padding-top: 52px;
    top: 0;

    @include vp-767 {
      padding-top: 42px;
    }
  }

  .coach-card__name {
    margin-bottom: -4px;
  }

  .coach-card__info {
    opacity: 1;
    display: block;
  }
}

.coach-card__image-wrapper {
  position: relative;

  img {
    width: 100%;

    @include vp-1279 {
      aspect-ratio: 268/294;
    }

    @include vp-767 {
      aspect-ratio: 228 / 276;
    }
  }
}

.coach-card__image-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-primary;
  opacity: 0;
  transition: 0.3s ease;
}

.coach-card__text-wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 0;
  transition: 0.3s ease;
  bottom: 0;

  color: $color-default-white;
  font-family: $ff-secondary;
}

.coach-card__name {
  margin: 0;
  margin-bottom: 33px;

  font-size: 18px;
  line-height: 1.5em;
  font-weight: 700;
}

.coach-card__info {
  opacity: 0;
  display: none;
  transition: 3s ease;
}

.coach-card__discipline {
  margin: 0;
  margin-bottom: 33px;
}

.coach-card__achievements-list {
  padding: 0 20px 0 71px;
  text-align: start;
  font-size: 14px;
  line-height: 1.5em;

  @include vp-767 {
    padding-left: 51px;
  }
}

.coach-card__achievement-item {
  list-style-type: disc;
}

.coach-card__achievement-item + .coach-card__achievement-item {
  margin-top: 13px;
}
